body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.city {
    margin-bottom: 20px;
}

button {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button i {
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

#details {
    display: none;
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#details-text {
    font-size: 16px;
    color: #555;
}
