body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #2c3e50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
        --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
        --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
      
}

button:hover {
    background: #1a252f;
}

#cart ul {
    list-style: none;
    padding: 0;
}

#cart ul li {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #2c3e50;
    color: white;
    margin-top: 20px;
}

.product img {
    width: 250px; 
    height: auto;
    border-radius: 30px;
    margin-bottom: 20px;
}


